name: Set Labels on Pull Request

on:
  pull_request:
    types:
      - closed
      - reopened

concurrency:
  group: ${{ github.workflow }}-${{ github.event_name }}-${{ github.ref_name || github.ref }}
  cancel-in-progress: false

permissions:
  contents: read
  pull-requests: write

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - name: Check if Pull Request
        id: check_pr
        run: echo "is_pull_request=${{ github.event_name == 'pull_request' }}" >> $GITHUB_ENV
      - if: env.is_pull_request == 'true'
        name: Merge
        uses: Ludy87/action/merge@caa2185f8e7d1ba61c71879e8f150c9df5231035 # v1.0.8
